<div class="conversaionPageContainer">
  <div class="navBarContainer">
  <% if current_user %>
    <%= render "shared/nav_bar" %>
  <% else %>
    <%= render "shared/landing_nav_bar" %>
  <% end %>
  </div>

  <section class="convo-box">
    <h1 class="chatsHeading">Chats</h1>

    <div class="conversations id="conversations">
      <%= render @conversations %>
    </div>
  </section>
</div>
