<nav class="nav-bar">
    <ul class="nav-bar-items">
      <div class="nav-button">
        <a href="#"><li class="desktop nav-item"> Home </li></a>
      </div>
      <div class="nav-button">
        <a href="#"><li class="desktop nav-item"> Meet Your Match </li></a>
      </div>
      <div class="nav-button">
        <a href="#"><li class="desktop nav-item"> Find an Event </li></a>
      </div>
      <div class="nav-button">
        <a href="#"><li class="desktop nav-item"> About </li></a>
      </div>
    </ul>
</nav>
