<section class="new-event">

  <h1 class="new-event-heading">New Event</h1>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <%= render "event_form", event: @event %>
</section>
