<p class="messageDate"><%= personal_message.created_at.strftime("%m/%d/%Y at %I:%M%p") %></p>
<p class="userMessageName"><%= full_name(personal_message.user) %></p>
<p class="speech-bubble <%= personal_message.user.id %>"><%= emojify personal_message.body %></p>
