/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
   --main-red: #e04b59;

 }

 body {
   text-align: center;
 }

 img {
   width: 100%;
 }

/*----- USER OPTIONS MODAL -----*/

.user-options-modal {
  position: absolute;
  right: 0;
  top: 61px;
  background-color: white;
  border: black 2px solid;
}

.user-options-modal.hidden {
  display: none;
}

.current-user {
  margin: 10px 7px;
  font-size: 0.8em;
  cursor: default;

}

.user-options-modal a {
  color: black;
  font-family: sans-serif;
  text-decoration: none;
}
.user-options-item {
  padding: 7px 10px;
  border: 1px solid black;

}
    .user-options-item:hover {
      background-color: var(--main-red);
      color: white;
}


#messages {
 max-height: 450px;
 overflow-y: auto;
 .avatar {
   margin: 0.5rem;
 }
}


.container {
 display: inline-block;
 margin: 20px auto;
 text-align: left;
}


   #conversation-body {
     max-height: 400px;
     overflow-y: auto;
     margin-bottom: 2em;
   }


   #notification {
     position: fixed;
     right: 10px;
     bottom: 10px;
     width: 300px;
     padding: 10px;
     border: 1px solid black;
     background-color: #fff;
     .close {cursor: pointer}
   }
