/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
   --main-grey: #f5f5f5;
   --main-dark-grey: #969696;
   --main-black: #242424;
   --main-white: #f5f5f5;
 }

 *, *::before, *::after {
   box-sizing: border-box;
 }

html {
  font-family: sans-serif;
}
 body {
   background-color: #dddddd;
 }

 img {
   width: 100%;
 }

 h1, h2, h3, h4 {
   font-weight: bold;
   margin: 0.5em 0;
 }

 p {
   margin: 0.5em 0;
 }



#messages {
 max-height: 450px;
 overflow-y: auto;
 .avatar {
   margin: 0.5rem;
 }
}



   #conversation-body {
     max-height: 400px;
     overflow-y: auto;
     margin-bottom: 2em;
   }


   #notification {
     position: fixed;
     right: 10px;
     bottom: 10px;
     width: 300px;
     padding: 10px;
     border: 1px solid black;
     background-color: #fff;
     .close {cursor: pointer}
   }
