.big-button {
  display: inline-block;
  border: 1px solid var(--main-dark-grey);
  padding: 11px 10px;
  margin: 1em;
  width: 50%;
}
    .big-button:hover {
      background-color: var(--main-dark-grey);
      color: var(--main-white);
      border: 1px solid var(--main-black);

    }
