.discover-hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/assets/mountain.jpg);
  background-size: 148%;
  background-position: 0 65%;
  background-repeat: no-repeat;
  height: 200px;
}

.form-card.discover {
  text-align: center;
  min-width: fit-content;
  width: 70%;
  margin: auto;
}

.filter-search form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow: scroll;
}

.filter-search #filterButton {
  margin: 0 10px;
}

.form-submit {
  text-align: center;
  margin: 10px 0;
}

.event-index {
  text-align: center;
  margin: 10px 0 15px 0;
}

.discover h2 {
  font-weight: bold;
}


.discover-header {
  margin: 2em 0 0 0;
  font-size: 1.7em;
}

.activity-type {
  position: relative;
}

.activity-type-header {
  margin: 0 0 0.5em 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.activity-type-header-block {
  margin: 0;
}

.availabilityCheck {
  display: inline-block;
  vertical-align: middle;
}

.activity-type-description {
  margin: 0 0 5px 0;
  font-size: 0.9em
}

.activity-icons-wrapper {
  max-width: 415px;
  margin: 10px auto;
}

.activity-icon {
  margin: 10px;
  display: inline-block;
  background: white;
  width: 7em;
  border-radius: 27%;
}

.discover .activity-icon {
  width: 5em
}


.activity-type > img {
  // box-shadow: -3px 3px var(--main-dark-grey), -2px 2px var(--main-dark-grey), -1px 1px var(--main-dark-grey);
  border: 2px solid white;
  border-radius: 50%;
}

.clickedRadioCircle {
}

.clickedRadioSquare {
}

.activity-icon-all {
  margin: 8px auto;
  display: block;
  padding: 10px 0px;
  width: 10em;
  background-color: var(--main-green);

}

label.hide-radio-button > input {
  visibility: hidden;
  position: absolute;
}

label.hide-radio-button > input + img {
  cursor: pointer;
}

label.activity-type > input + .activity-icon-all {
  cursor: pointer;
}

label.activity-type > input:checked + .clickedRadioCircle {
  position: absolute;
  top: -4px;
  right: -4px;
  border-radius: 50%;
  width: 5.5em;
  height: 5.5em;
  border: 3px solid #ff8888;
}

label.activity-type > input:checked + .clickedRadioSquare {
  position: absolute;
  top: 31px;
  right: 120px;
  height: 3em;
  width: 10.8em;
  border: 3px solid #ff8888;
}


.location-search > input {
  width: 14em;
  height: 2em;
  font-size: 1.4em;
}

.location-search {
  margin: 16px 0 0 0;
}

.fitness-level-wrapper {
  display: flex;
  justify-content: center;
}

.form-label {
  font-size: 2em;
  margin: 4px;
  padding: 1px 6px;
  border: solid white 2px;
}

label.fitness-level > input:checked + .form-label {
  // border: 1px solid var(--main-green);
  background-color: var(--main-green);
  border: 2px #ff8887 solid;
  color: var(--main-white);
}

label.hide-radio-button > p {
  cursor: pointer;
}

@media screen and (max-width: 680px){
  .activity-icons-wrapper {
    max-width: 300px;
  }

  label.activity-type > input:checked + .clickedRadioSquare {
    position: absolute;
    top: 31px;
    right: 16px;
    height: 3em;
  }
}
