// ------------- HEADING AND HERO IMAGE -------------
.new-event {
  background-color: white;
  color: black;
  padding: 5px 5px;

}

.top-heading {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;

}

.sub-heading {
  font-size: 10px;
  letter-spacing: 1px;

}

.edit-profile .hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: image-url('ocean-horizon.jpg');
  background-size: 100%;
  background-position: 0 10%;
  background-repeat: no-repeat;
  height: 200px;
}

// ------------- FORM -------------

.schedule {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: fit-content;
}

.scheduleFlexContainer {
  display: flex;
  align-items: center;
}

.schedule-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.timeOfDayLabels {
  align-items: flex-end;
  margin-top: 7px;
}

.label-style-schedule {
  display: inline-block;
  margin: 0 5px 4px 5px;
  font-size: 0.6em;
}

.scheduleShowLabel {
  margin: 0;
}

.timeOfDayLabels .label-style-schedule {
  margin: 9px 0 0 0
}

.edit-profile-form {
  margin: 25px auto 50px auto;
  padding: 0 50px;
  max-width: 700px;
}

.profile-form-card {
  border-bottom: solid grey 1px;
  padding: 30px 62px;
}

.form-item {
  display: inline-block;
  padding: 0 5px;
}

.formItemFlexContainer {
  display: flex;
  flex-direction: row;
}

.form-item.name {
  display: block;
  padding: 0 57px;
}

.profile-form-card.last {
  border-bottom: none;
}

textarea {
  width: 370px;
  height: 100px;
}

.description {
  border-bottom: none;
}

.form-item h3 {
  font-weight: bold;
  padding: 10px 0 5px 0;
  font-size: 19px;
}

.profile-form-item.submit {
  padding: 0 72px;
  margin: 20px 0;
}

.profile-form-item.submit input {
  padding: 7px 12px;
  background-color: #86d9f1;
  font-size: 19px;
}

.advanced {
  text-align: right;
}




// ------------- ICONS -------------
.profile-form-item-icon {
  display: inline-block;
  width: 50px;
  flex-shrink: 0;
}

.profile-form-item-icon-small {
  display: none;
}


// --------- Media Queries -------------

@media screen and (max-width: 580px) {
  .edit-profile .hero-image {
    background-size: 175%;
  }

  .edit-profile-form .formItemFlexContainer {
    display: block;
  }

  .edit-profile .form-item {
    display: block;
    font-size: 1em;
  } .edit-profile .form-item h3 {
      font-size: 1em;
      padding: 10px 0;
    }
  .edit-profile .smallItemHeadingContainer {
    width: fit-content;
    margin: 0 auto;
  }
  .profile-form-card {
      padding: 20px 0;
  }

  .edit-profile-form {
    padding: 0 25px;
    margin: 0 0 25px 0;
  }

  .edit-profile .form-item textarea {
    width: 100%;
  }

  .profile-form-card {
    width: 100%;
  }

  .edit-profile .form-item.name {
    padding: 0;
  }

  .profile-form-item-icon {
    display: none;
  }

  .profile-form-item-icon-small {
    display: block;
    width: 30px;
  }

}
