.event-reults {
  max-width: 42em;
  margin: auto;
}


.event-card a {
  color: black;
}
.event-card a:hover {
  color: grey;
}

.event-description {
  margin: 0.5em 0 1em 0;
  line-height: 20px;
}

.event-card.address {
  margin: 0;
}

.icon-button.message {
  width: 2.8em;
}

.form-item {
  font-size: 1.2em;
}
.form-item input {
  font-size: 1em;
}
.form-item select {
  font-size: 1em;
}
.form-item textarea {
  font-size: 1em;
}


// EVENT SHOW PAGE

.eventHostFlexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

} .eventHostFlexContainer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;

} .eventHostFlexContainer .avatar {
  margin: 8px;

}


.eventShowBackground {
  min-height: 100vh;
  background-color: #f1f1f1;
  padding-bottom: 80px;
}

.eventPageBackground {
  // min-height: 100vh;
  // background-color: #f1f1f1;
  // padding-bottom: 88px;
}

.eventPageContainer {
  margin: 0 20px;
}

.event-page {
  padding: 30px 0 0 0;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

}

.event-name {
  font-size: 2.5em;
  font-weight: bold;
  margin: 4px 0 10px -2px;
}



.event-header {
  font-weight: bold;
  font-size: 1.1em;
}

.event-body-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.event-details-continer {
  margin: 20px 0;
  padding-right: 15px;
}

.event-details {
  line-height: 25px
}

.event-date {
  font-size: 1em;
}

.event-header {
  margin: 5px 0;
}


.comment-area {
  margin: 20px 0;
}


.comment-area .field label {
  font-size: 0.8em;
}

.eventShowHeader {
  border-top: #eceaea solid 3px;
  border-bottom: #e0dede solid 1px;
  padding: 20px 20px;
  background: white;

}

.eventHeaderFlexContainer {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

}

.eventTicket {
  display: flex;
  margin: 30px 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.eventTicketBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2);
  background: white;

}

.eventTicketContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

}

.eventTicketBounds {
  margin: 0 20px;
}

.eventTicketInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ticketAttendance {
  margin-right: 30px;
  font-weight: bold;
  text-align: center;

}

.eventTicketName {
  font-size: 1.2em;
  font-weight: bold;
}

.eventInfoBox {
  background: white;
  padding: 5px 25px;
  border-radius: 10px;
}

.eventInfoBoxText {
  font-size: 1em;
  margin: 20px 0;
}

.comment {
  width: 365px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;

}

.comment-user {
  margin-bottom: 10px;
  font-size: 1em;
}

.comment-body {

}

.comment .button_to {
  display: flex;
  justify-content: flex-end;
}

.eventDetailsCommentsContainer {

}

.eventInfoFlexContainer {

}

.event-body-container {

}


@media screen and (max-width: 680px){

  .eventTicketBar .event-date {
    font-size: 0.8em;
  }

  .ticketAttendance {
    font-size: 1em;
    margin: 0 15px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .ticketAttendance .ticketSpots {
    font-size: 0.7em;
    font-weight: lighter;
  }


}
