
.event-card {
  position: relative;
  background-color: white;
  margin: 1em 2em;
  padding: 1em;
  border: 1px solid #e50000;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  z-index: 0;
}
    .event-card:active{
    }

.icon-button.message {
  width: 2.8em;
}

.form-item {
  font-size: 1.2em;
}
.form-item input {
  font-size: 1em;
}
.form-item select {
  font-size: 1em;
}
.form-item textarea {
  font-size: 1em;
}

.new-event-heading {
  font-size: 1.8em;
}
