// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
       height: 50%;
       width: 50%;
       position: absolute;

     }
     /* Optional: Makes the sample page fill the window. */
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
   }
#search{


}

#eventsMap {
    height: 500px;
    width: 500px;
    position: relative;

}

.event-card {
  background-color: white;
  margin: 1em 2em;
  padding: 1em;
  border: 1px solid #e50000;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
    .event-card:active{
    }

.event_type_icon {
  height: 20%;
  width: 20%;
}
