.home {
  display: block;
  width: 100%;
  text-align: center;
}

.home {
  width: fit-content;
  margin: auto;
}

.event-reults {
  display: block;
}

.home-hero-image{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/assets/ocean-horizon.jpg);
  background-size: 100%;
  background-position: 0 45%;
  background-repeat: no-repeat;
  height: 200px;
}

.home-page-heading {
  font-size: 1.5em;
  margin: 4em 0 2em 0;
}


.no-rsvps {
  font-style: italic;
  margin: 2.5em 0 0 0;
  font-size: 1.2em;
}

.home-greeting {
  font-size: 1.2em;

}

.home a {
  text-decoration: none;
  color: black;
}
.home a:active {
  background-color: #c3c3c3;
}



.greeting-help {
  width: 9em;
  display: inline-block;
}

@media screen and (max-width: 680px){

  .home-hero-image {
    background-size: 150%;
  }

}
