// Place all the styles related to the landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.landingPageContainer {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: auto;
}


.mainpagebox, .mainpagebox2 {
  // height: 250px;
  color: white;
  padding: 10px 0 0 25px;;
  background-color: rgba(0, 0, 0, 0.19);
  margin: 20px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.4rem;
} .mainpagebox h1, .mainpagebox2 h1 {
  font-size: 1.9em;
  display: block;
  letter-spacing: 0.2rem;
  margin: 10px 0;
  font-weight: bold;
} .mainpagebox p, .mainpagebox2 p {
  font-size: 1.3em;
  line-height: 1.5rem;
  display: block;
  letter-spacing: 0.2rem;
  margin: 2px 0;
} .mainpagebox button, .mainpagebox2 button {
  margin: 20px 0 20px 0;
}

.mainpagebox2 {
  background-color: rgba(255, 255, 255, 0.11);
}


// .mainpagebox2 p {
//   font-size: 1.2em;
//   line-height: 1.5rem;
//   padding: 0 10px 0 10px;
//   text-align: left;
//   letter-spacing: 0.1rem;
// }

.landingSectionStyle {
  text-align: center;
  width: 100%;
  line-height: 3rem;
  padding: 0 25px;
  margin: 28px 0;
} .landingSectionStyle h1 {
  font-size: 1.9rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
} .landingSectionStyle h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
} .landingSectionStyle p {
  line-height: 2em;
  letter-spacing: 0.1rem;
}

.findBalance {
  height: 325px;
  width: 100%;
  background-image: url(yogalanding.png);
  background-size: 415%;
  background-repeat: no-repeat;
  background-position: 54% 32%;}


.balanceBox {
  color: black;
  background-color: #ffffff8c;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.testimonials {
  text-align: center;
  color: white;
  // height: 350px;
  width: 100%;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(ocean-horizon.jpg), ;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.creatorBox {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  height: 100%;
  padding: 40px;
} .creatorBox h2 {
  color: white;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.4rem;
  padding: 20px 0;
}

.divCircle {
  display: inline-block;
  width: 275px;
  margin: 15px 10px 0 10px;
}

.testimonialBox {
  text-align: center;
  color: white;
  display: block;
  max-width: 600px;
  margin: 0 auto 0 auto;
}

.testimonialText {
  text-align: left;
}

.testimonials h1 {
  padding-top: 25px;
}

.testimonials h3 {
  font-size: 2em;
  letter-spacing: 2px;
  margin-bottom: 7px;
}

.testimonials p {
  letter-spacing: 0.05rem;
  line-height: 1.2rem;
  text-align: center;
}

.owl-nav span {
  color: white;
  font-size: 47px;
  padding: 0 18px;
}

.landing-gymme-logo {
  font-family: 'Monofett', cursive;
  font-size: 3.3em;
  padding: 0 0 7px 10px;
}

.gymme-logo {
  font-family: 'Monofett', cursive;
  font-size: 2.4em;
  padding: 0 0 4px 10px;

}

.joinNow {
  background-color: lightblue;
  color: black;
  text-decoration: none;
  padding: 0 15px;
  font-family: system-ui;
  display: inline-block;
  margin-top: 20px;
}

@media screen and (min-width: 376px) {
  .mainpagebox {
    padding: 40px 0 40px 25px;
  }
  .mainpagebox2 {
    align-items: flex-end;
    padding: 40px 25px 40px 0;
  }

  .findBalance {
    background-size: 180%;
    background-position: 54% 37%;
  }

}

@media screen and (min-width: 460px) {
  .mainpagebox {
    padding: 40px 0 40px 75px;
  }
  .mainpagebox2 {
    align-items: flex-end;
    padding: 40px 75px 40px 0;
  }
}


@media screen and (min-width: 1055px){

  .landingbox {
    display: flex;
    margin: 0 105px;
  } .landingbox button {
    margin: 10px 0;
  }

  .mainpagebox, .mainpagebox2 {
    width: 50%;
    color: white;
    padding-left: 25px;
    background-color: rgba(0, 0, 0, 0.19);
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 0;
    padding: 40px 0 40px 55px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    letter-spacing: 0.4rem;
  } .mainpagebox h1, .mainpagebox2 h1 {
    font-size: 2em;
    display: block;
  } .mainpagebox p, .mainpagebox2 p {
    padding-left: 0;
    font-size: 1.5em;
    display: block;
  }

  .mainpagebox2 {
    align-items: flex-end;
    padding: 0;
    margin-left: 0;
    background-color: rgba(255, 255, 255, 0.11);
    padding-right: 55px;
  }

  .findBalance {
    background-size: 100%;
    background-position: 54% 37%;
  }

}

@media screen and (min-width: 660px){
}
