.overlay {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: grey;
  opacity: 0.7;
  z-index: 999;
  cursor: pointer;
}

.sign-in-modal {
  position: fixed;
  left: 36%;
  top: 18%;
  border: solid black 2px;
  z-index: 1000;
  background-color: lightblue;

}

.session-form {
  text-align: center;

}


.sign-in-button {
  font-family: system-ui;
  align-self: flex-end;
  margin-top: 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 15px 15px;
  border-radius: 5px;
}

  .sign-in-button:hover {
    background-color: white;
    cursor: pointer;
  }
  .sign-in-button:active {
    background-color: grey;
  }


.log-in .large-submit-button > input[type="submit"] {
  margin: 0;
}

.log-in .field {
  margin: 17px 0;
}


.logInHeading {
  font-size: 2em;
}

.login-avatar {
  display: inline-block;
  width: 8em;
  position: absolute;
  bottom: 0;
  left: 0;
}

// .speech {
//   position: absolute;
//   bottom: 0;
//   left: 11em;
//   width: 10em;
// }

.login-greeting {
  margin: 0.5em 0;
  position: relative;
  bottom: -3.4em;
  font-size: 2em;
  font-weight: bold;
}

.sign-up .field {
  margin: 10px 0;
}

.logInModal h2 {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.logInModal input {
  width: 15.3em;
  height: 2.1em;
  font-size: 1.2em;
}

.check-field > input {
  width: 1em;
  height: 1em;
}

.links {
  align-self: end;
}

.links > a {
  display: block;
}

.form-flex-wrapper {
  display: flex;
  flex-direction: column;
}

.field {
  margin-top: 10px;
}

.check-field {
  margin: 5px 0 10px 0;
}

.check-field > input[type='checkbox'] {
  width: 1em;
  height: 1em;
  font-size: 17px;
}

.signInBox {
  background-image: url(background.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

#error_explanation h2 {
  display: none;
} #error_explanation ul {
  color: white;
}

.sessionModalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.logInModal {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto 0;
  background-color: rgba(0, 0, 0, 0.19);
  padding: 20px 35px;
}
.logInModal a {
  color: white;
}

.signUpLinkWrapper {
  margin-top: 16px;
  font-size: 1.3em;
} .signUpLinkWrapper a {
    text-decoration: none;
}
