div.hidden {
  display: none;
}
p.hidden {
  display: none;
}

.map-icon {
  width: 2.6em;
  display: inline-block;
  cursor: pointer;
} .map-icon:hover {
  border: white solid 2px;
}

.map-icon-description {
  font-size: 10px;
  margin: 5px;
}



#infowindow-content {
  display: none;

}
