.nav-bar {
  padding: 0px 5px 0 0;
  display: flex;
  justify-content: space-between;

}

.nav-item-container {
  display: flex;
  align-items: center;
}

.nav-button {
  display: inline-block;
  text-align: center;
}

.nav-item {
  padding: 8px 12px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

// .icon {
//   fill: white;
// }

.greeting {
  width: 100%;
  padding: 3em;
}

.nav-bar-items {
  text-align: center;
  flex-direction: row-reverse;

}

.nav-bar-items a {
  color: black;
  font-size: 13px;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
}
    .nav-bar-items a:hover {
      color: --main-grey;
    }

// .desktop.nav-item {
//   display: none;
// }
