// Place all the styles related to the personal_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.speech-bubble {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  padding: 1em;
	background: var(--main-green);
  // width: 70%;
	border-radius: 15px; /* 5px rounded corners */
	margin-bottom: 1.5em;
}

.userMessageName {
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 1.3em;
	margin: 5px 0;
}

.messageDate {
  font-size: 0.7em;
	margin: 5px 0;
}

.convoSendNote {
	align-self: flex-end;
	font-size: 0.8em;
	margin: 2px 6px;
}



// .speech-bubble:after {
// 	content: '';
// 	position: absolute;
// 	bottom: 0;
// 	left: 50%;
// 	width: 0;
// 	height: 0;
// 	border: 20px solid transparent;
// 	border-top-color: #b9fa9f;
// 	border-bottom: 0;
// 	margin-left: -20px;
// 	margin-bottom: -20px;
// }


.speech-bubble-p {
	overflow-wrap: break-word;
	img {
		width: initial;
	}
}
