// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-avatar {
  display: inline-block;
  width: 5em;
  height: 5em;
  border-radius: 100%;
  vertical-align: middle;
  padding: 0;
}

.profile-avatar img {
  border-radius: 100%;
}
