.user-nav {
  background-color: var(--main-black);
  color: var(--main-white);
  text-align: center;
  border-bottom: 0.5px solid var(--main-dark-grey);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.profile-button {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 3px;
}

.avatar {
  display: inline-block;
  width: 2.6em;
  height: 2.6em;
  border: 1px var(--main-white) solid;
  border-radius: 100%;
  vertical-align: middle;
  padding: 0;
}

.avatar img {
  border-radius: 80%;
}
